extend layout

block content

	h2 Lets get some tweets
	label(for='username') Twitter username:

	.input-prepend
			span.add-on
				&#64;

			input(type='text', name='username', id='username', placeholder='username')

	p
		button(id='twitter-button', class='btn') Get the tweets!
		
	#tweets-container
