doctype
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Mouse+Memoirs')
		style
			h3 {
				margin-top: 1em;
			}
			ul, li {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul {
				margin-bottom: 2em;
			}
			li {
				display: block;
				overflow: hidden;
				border-bottom: 1px solid #ddd;
				padding: 10px;
			}
			.profile-image {
				width: 48px;
				float: left;
				margin-right: 1em;
			}
			.date {
				font-size: .8em;
				color: #999;
			}
	body

		.container
			.row
				.span12
					block content

		script(src='scripts/lib/jquery-1.8.3.min.js')
		script(src='scripts/lib/bootstrap.min.js')
		script(src='scripts/lib/require.js', data-main='scripts/main')